<tui-breadcrumbs>
    <ng-container *ngFor="let item of items">
        <a *tuiItem tuiLink [routerLink]="item.routerLink">
            {{ item.caption }}
        </a>
    </ng-container>
</tui-breadcrumbs>
<section>
    <h2 class="book--mb-4">Books List</h2>
    <div class="card">

        <a tuiButton type="button" routerLink="/book/create-books" class="tui-space_right-3 tui-space_bottom-3">
    Create Book
    </a>
        <table class="tui-space_top-4">
            <thead>
                <tr>
                    <th>Titles</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of rows">
                    <td *ngFor="let cell of row" [tuiHighlight]="search" [tuiHighlightColor]="'#228B22'">
                        {{ cell }}
                    </td>
                </tr>
            </tbody>
        </table>
        <tui-table-pagination [total]="total" [items]="sizeOptions"></tui-table-pagination>

    </div>
</section>