<section>
    <h2 class="book--mb-4">Chapters List</h2>
    <div class="card">

        <a tuiButton type="button" routerLink="/chapter/create-chapters" class="book--mb-8 tui-space_horizontal-3">
    Create Chapter
    </a>
        <p tuiTextfieldSize="m" class="filters">
            <tui-input class="input" [tuiTextfieldCleaner]="true" [(ngModel)]="search">
                Find on page
            </tui-input>
            <tui-input-count class="tui-space_horizontal-3" [formControl]="minAge">
                Minimum chapters
            </tui-input-count>
            <tui-hosted-dropdown [content]="dropdown">
                <button tuiButton size="m" type="button" [iconRight]="arrow">
            Columns
        </button>
                <ng-template #dropdown>
                    <tui-reorder class="columns" [enabled]="enabled" [(items)]="initial" (enabledChange)="onEnabled($event)"></tui-reorder>
                </ng-template>
            </tui-hosted-dropdown>
        </p>
        <tui-loader [overlay]="true" [showLoader]="!!(loading$ | async)">
            <table *ngIf="data$ | async as data" tuiTable class="table  tui-space_top-5" [columns]="columns" [direction]="(direction$ | async) || 1" [tuiSortBy]="sorter$ | async" (directionChange)="direction$.next($event)">
                <thead>
                    <tr tuiThGroup>
                        <th *tuiHead="'id'" tuiTh tuiSortable>
                            Id
                        </th>
                        <th *tuiHead="'title'" tuiTh tuiSortable>
                            Title
                        </th>
                        <th *tuiHead="'body'" tuiTh tuiSortable>
                            Body
                        </th>
                        <th *tuiHead="'actions'" tuiTh>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody *tuiLet="data | tuiTableSort as sortedData" tuiTbody [data]="sortedData">
                    <tr *ngFor="let item of sortedData" tuiTr>
                        <td *tuiCell="'id'" tuiTd [class.match]="isMatch(item.id)">
                            {{ item.id }}
                        </td>
                        <td *tuiCell="'title'" tuiTd [class.match]="isMatch(item.title)">
                            {{ item.title }}
                        </td>
                        <td *tuiCell="'body'" tuiTd [class.match]="isMatch(item.body)">
                            {{ item.body }}
                        </td>
                        <td *tuiCell="'actions'" tuiTd>
                            <a tuiButton type="button" size="xs" [routerLink]="['/chapter/edit-chapter', item.id]">
                                Edit Chapter
                                </a>
                            <a tuiButton type="button" size="xs" [routerLink]="['/chapter/detail-chapter', item.id]">
                                    Detail Chapter
                                    </a>
                            <button tuiButton type="button" size="xs" (click)="showDialogWithCustomButton(item)">
                                        Delete Chapter
                                        </button>

                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td [colSpan]="columns.length">
                            <tui-table-pagination class="tui-space_top-2" [total]="100"></tui-table-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </tui-loader>