footer {
    @apply book--px-6 book--py-4;
    .links {
        a {
            padding: 10px 5px;
            display: inline-block;
            fa-icon {
                font-size: 20px;
                width: 25px;
            }
            span {
                font-size: 14px;
                padding: 0 0 0 3px;
            }
        }
    }
}