@{
    ViewData["Title"] = "Demo Guide  Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://cantinhode.net"> Unleashing the Power of ASP.NET Core 7.0 and Angular 16</a>.</p>
</div>