<section>
    <h1>Hello <span class="book--text-primary">ng</span>Friends!</h1>

    <p class="book--text-xl">
        I'm <span class="book--text-primary">Pedro Martins</span>, thanks for visiting this repository.
    </p>

    <p>Nothing special here, I just wanted to say hi! 👋</p>
</section>

<section>
    <h2 class="book--mb-4">Support ❤️🙏</h2>

    <div class="book--inline md:book--flex">
        <a tuiButton appearance="secondary" href="https://github.com/icpmtech/Book-Unleashing" target="_blank" rel="noopener noreferrer" class="book--mr-4 book--mb-4">
            <fa-icon icon="star" class="book--mr-2"></fa-icon>
            <span>Star</span>
        </a>
        <a tuiButton appearance="secondary" href="cantinhode.net" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'twitter']" class="book--mr-2"></fa-icon>
            <span>Tweet</span>
        </a>
    </div>
</section>